.margin {
  margin-top: 8px;
}
.item {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
.item .img {
  background-color: aqua;
  width: 80%;
  margin: auto;
  height: 300px;
}
.compra {
  overflow: hidden;
  width: 50%;
  margin: auto;
}
.compra .btncompra {
  float: left;
}
.compra .quantidadeform {
  float: left;
  margin-left: 10px;
  margin-top: 4px;
}
.compra .quantidade {
  width: 40px;
}
.dropcarrinho {
  height: 300px;
  overflow: auto;
}
.produtocar {
  height: 60px;
  position: relative;
  width: 300px;
  border: 0 0 0.5 0 solid gray;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.274);
}
.imgcar {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  background-color: aqua;
  width: 50px;
  height: 50px;
}
.textocar {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  width: 200px;
}
