*{
    padding: 0;
    margin: 0;
}
.conteiner .header{
   background-image: url("./imgs/Prancheta\ 1\ cópia\ 3.png");
   background-size: cover;
   background-attachment: fixed; 
   background-repeat: no-repeat;
}
.conteiner .header .logo{
    overflow: hidden;
}
.conteiner .header .logo a{
    float: left;
}
.conteiner .header .texto{
    color: white;
    margin: auto;
    margin-top: 75px;
    font-size: 26px;
    width: 60%;
}
.conteiner .header .footer{
    background-image: url("./imgs/Prancheta\ 10.png");
    background-position: bottom;
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 200px;
    transform: translate(0,2px);
}
.conteiner .conteudo .quadro{
    width: 60%;
    margin: auto;
    text-align: center;

}
.conteiner .conteudo .quadro .quest{
    display: inline-block;
    margin: 15px;
    width: 200px;
    height: 250px;
    border: 1px solid black;
}
